#about-us {
    width: 100%;
    min-height: 100vh;
    background: $light-gray;
    justify-content: center;
    align-items: center;
    display: flex;

    .column {
        float: left;
        width: 50%;

        h1 {
            color: $raspberry-red;
            font-family: 'Lato', sans-serif;
            text-decoration: underline white;
            font-size: 1.3em;
        }

        h3 {
            color: $raspberry-red;
            font-family: 'Lato', sans-serif;
            text-decoration: underline white;
            font-size: 0.7605em;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-size: 12px;
        }

        .about-image {
            width: 140px;
            height: 140px;
            object-fit: cover;
            position: relative;
            overflow: hidden;
            border-radius: 50% !important;
            border: 5px solid white;
        }

        .button1 {
            background-color: $light-gray;
            border: 6px solid white;
            color: $raspberry-red;
            padding: 15px;
            text-decoration: none;
            font-size: 20px;
            width: 150px;
            text-align: center;
            transition: all 0.5s ease-out;
          }

        .button1:hover{
            background-color: $raspberry-red;
            color: white;
            border: 6px solid white;
        }
    }

}

@media only screen and (min-width: 375px) {
    #about-us{
        .column{
                h1 {
                    font-size: 2em;
                }
        
                h3 {
                    font-size: 1.17em;
                }
        
                p {
                    font-size: 16px;
                }
        
                .about-image {
                    width: 170px;
                    height: 170px;
                }
        }
    }
    }

@media only screen and (min-width: 768px) {
#about-us{

    .column{

            h1 {
                font-size: 2em;
            }
    
            h3 {
                font-size: 1.17em;
            }
    
            p {
                font-size: 16px;
            }
    
            .about-image {
                width: 252px;
                height: 252px;
            }
    }
}
}
    
 @media only screen and (min-width: 992px) {
    #about-us {

        .column {

            .about-image {
                width: 372px;
                height: 372px;
                border: 10px solid #f1f1f1;
            }
        }
    }
} 