#confirmation {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('assets/images/bg.jpg') center / cover no-repeat;
    position: relative;

    .container-fluid {
        margin-top: 15vh;
    }

    .order-confirmation-container {
        max-width: 800px !important;
    }

    #receipt {
        text-align: center;
        background: white;
        box-shadow: 0 0 5px $gold;
    }
    
    #order-number-row {
        border-bottom: dashed;
        border-top: dashed;
        padding-top: 35px;
        padding-bottom: 35px;
        margin: 10% 0;
    }

    #order-detail{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .woocommerce-Price-amount.amount {
        color: $gold;
    }

    .xlwcty_wrap {
        .xlwcty_Box {
            margin: 0;
        }
    }

    .confirmation-message {
        background: rgba(0, 0, 0, 0.65);
        color: white;
        padding: 25px;
        justify-content: center;
        line-height: 2;
    }

    #step-0, #step-1, #step-2, #step-3, #step-4{
        padding-bottom: 15px;
    }

    #step-0 {
        border-bottom: solid 1px $beige-gold;
        text-align: center;
        justify-content: center;
    }

    #step-1,
    #step-2,
    #step-3,
    #step-4 {
        padding-top: 10px;
    }
    
    #number, #icon, #step-title{
        color: $beige-gold;
    }

    #icon{
        font-size: 2.5rem;
    }

    #contact{
        text-align: center;
        padding: 0;
        color: white;
        margin-bottom: 0;
    }

    #footnote{
        font-size: smaller;
        color: $gold;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #receipt,
        #receipt * {
            visibility: visible;
        }

        #receipt {
            position: absolute;
            left: 0;
            top: 0;
        }
    }      
}

// @media only screen and (min-width: 1920px) {
//     #confirmation *{
//         font-size: 1.5rem;
//     }
// }