#confirmation {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images5.alphacoders.com/909/thumb-1920-909997.jpg') center / cover no-repeat;
    position: relative;

    .container-fluid {
        margin-top: 15vh;
    }

    a {
        text-align: center;
        padding: 0;
        color: white;
        margin-bottom: 0;
    }

    #receipt {
        text-align: center;
        background: white;
        box-shadow: 0 0 5px $gold;
    }

    #number,
    #icon,
    #step-title {
        color: $beige-gold;
    }

    #order-number-row {
        border-bottom: dashed;
        border-top: dashed;
        padding-top: 35px;
        padding-bottom: 35px;
        margin: 10% 0;
    }

    .woocommerce-Price-amount.amount {
        color: $gold;
    }

    h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .confirmation-message {
        background: rgba(0, 0, 0, 0.65);
        color: white;
        padding: 25px;
        justify-content: center;
        // text-align: center;
        line-height: 2;
    }

    #step-0,
    #step-1,
    #step-2,
    #step-3,
    #step-4 {
        // padding-top: 15px;
        padding-bottom: 15px;
        // margin: 10% 0;
    }

    #step-0 {
        border-bottom: solid 1px $beige-gold;
    }

    #step-1,
    #step-2,
    #step-3,
    #step-4 {
        padding-top: 10px;
    }

    h6 {
        font-size: smaller;
        color: $gold;
    }

    i {
        font-size: 2.5rem;
    }

    #step-0 {
        text-align: center;
        justify-content: center;
    }

    .xlwcty_wrap {
        .xlwcty_Box {
            margin: 0;
        }
    }

    .order-confirmation-container {
        max-width: 800px !important;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #receipt,
        #receipt * {
            visibility: visible;
        }

        #receipt {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

// @media only screen and (min-width: 1920px) {
//     #confirmation *{
//         font-size: 1.5rem;
//     }
// }