#home {
    width: 100%;
    height: 100vh;
    background: url('https://images5.alphacoders.com/909/thumb-1920-909997.jpg') center / cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #home-content {
        position: absolute;
        z-index: 999;
        color: white;

        h1 {
            font-size: 15rem;
            font-family: 'Long Cang', cursive;
            color: $gold;
        }
    }
}

#contact-us{
    width: 100%;
    height: 100vh;
    background: #E6E6E6;
    justify-content: center;
    align-items: center;
    display: flex;
    .column {
        float: left;
        width: 50%;
        h1 {
            color: #ED1D25;
            font-family: 'Lato', sans-serif;
        }
        p { 
            font-family: 'Lato', sans-serif;
        }
        .about-image{
            width: 400px;
            height: 400px;
            object-fit: cover;
            position: relative;
            overflow: hidden;
            border-radius: 50% !important;
            border: 10px solid #f1f1f1;
        }
    }
}

#reservation {
    min-height: 100vh;
    width: 100%;
    margin-top: 10vh;

    .form-group {
        margin-right: 1em;
        .required-label {
            &:after {
                content:" *";
                color: black;
              }
        }
    }

    .container-fluid,
    .row {
        padding: 0;
        margin: 0;
    }

    #order-summary {
        color: white;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('https://as2.ftcdn.net/jpg/00/61/31/85/500_F_61318554_CD3ekVVbuBZt75TXpDys7s5qsqfdVWCX.jpg') right / cover;
            filter: blur(4px);
        }

        img {
            max-width: 100%;
        }

        .item-price {
            font-size: 150%;
        }

        .total-price {
            font-size: 175%;
            font-weight: 700;
            color: $gold;
        }

        .final-price {
            font-size: 225%;
            font-weight: 700;
            color: $gold;
        }

        hr {
            background: white;
        }
    }

    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $raspberry-red;
        height: 50px;
        width: 50px;
        border-radius: 50%;

        p {
            display: inline;
            text-align: center;
            margin: 0 !important;
            color: white;
            font-weight: bold;
        }
    }

    .form-group {
        width: 30%;
        display: inline-block;
    }

}