#home {
    width: 100%;
    height: 100vh;
    background: url('https://images5.alphacoders.com/909/thumb-1920-909997.jpg') center / cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #home-content {
        position: absolute;
        z-index: 999;
        color: white;

        h1 {
            font-size: 15rem;
            font-family: 'Long Cang', cursive;
            color: $gold;
        }
    }
}

#contact-us{
    width: 100%;
    height: 100vh;
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
    .column {
        float: left;
        width: 50%;
      }
    h1, h4{
        font-family: 'Lato', sans-serif;
    }

    p{
        font-family: 'Lato', sans-serif;
    }
    .red{
    color: rgb(217,72,72) !important;
    display: block;
    padding-right: 3rem;
    margin-bottom: 2rem !important;
    }
}