#home {
    width: 100%;
    height: 100vh;
    background: url('assets/images/bg.jpg') center / cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #home-content {
        position: absolute;
        z-index: 999;
        color: white;

        h1 {
            font-size: 15rem;
            font-family: 'Long Cang', cursive;
            color: $gold;
        }
    }
}

#about-us {
    width: 100%;
    height: 100vh;
    background: #E6E6E6;
    justify-content: center;
    align-items: center;
    display: flex;

    .column {
        float: left;
        width: 50%;

        h1,h3 {
            color: #C8102E;
            font-family: 'Lato', sans-serif;
            text-decoration: underline white;
        }

        p {
            font-family: 'Lato', sans-serif;
        }

        .about-image {
            width: 400px;
            height: 400px;
            object-fit: cover;
            position: relative;
            overflow: hidden;
            border-radius: 50% !important;
            border: 10px solid #f1f1f1;
        }

        .button1 {
            background-color: #E6E6E6;
            border: 6px solid black;
            border-color: white;
            color: #C8102E;
            padding: 15px 32px;
            display: flex;
            position: relative;
            left: 0%;
            align-items: right;
            text-decoration: none;
            font-size: 20px;
          }

        .button1:hover{
            background-color: #C8102E;
            color: white;
            border: #C8102E;
        }
    }

}