#home {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('assets/images/bg.jpg') center / cover no-repeat;
    position: relative;

    #home-content {
        display: flex;
        position: absolute;
        z-index: 999;
        color: white;

        h1 {
            font-size: 15rem;
            font-family: 'Long Cang', cursive;
            color: $gold;
        }
    }
}