#home {
    width: 100%;
    height: 100vh;
    background: url('assets/images/bg.jpg') center / cover no-repeat;
    position: relative;

    #home-content {
        display: flex;
        position: absolute;
        z-index: 999;
        color: white;

        h1 {
            font-size: 15rem;
            font-family: 'Long Cang', cursive;
            color: $gold;
        }
    }

    .tint {
        background: rgba(0, 0, 0, .7);
    }
}

#about-us {
    width: 100%;
    min-height: 100vh;
    background: #E6E6E6;
    justify-content: center;
    align-items: center;
    display: flex;

    .column {
        float: left;
        width: 50%;

        p {
            font-family: 'Lato', sans-serif;
            font-size: 12px;
        }

        .about-image {
            width: 275px;
            height: 275px;
            object-fit: cover;
            position: relative;
            overflow: hidden;
            border-radius: 50% !important;
            border: 5px solid #f1f1f1;
        }
    }

    .button1 {
        background: transparent;
        border: 6px solid white;
        color: $raspberry-red;
        padding: 15px;
        font-weight: 900;

        &:hover {
            border: 6px solid white;
            background: $raspberry-red;
            color: white;
        }
    }

}

@media only screen and (min-width: 768px) {
    #about-us {
        width: 100%;
        
        background: #E6E6E6;
        justify-content: center;
        align-items: center;
        display: flex;

        .column {
            float: left;
            width: 50%;

            p {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
            }

            .about-image {
                object-fit: cover;
                position: relative;
                overflow: hidden;
                border-radius: 50% !important;
            }
        }

    }
}

@media only screen and (min-width: 992px) {
    #about-us {
        width: 100%;
        height: 100vh;
        background: $light-gray;
        justify-content: center;
        align-items: center;
        display: flex;

        .column {
            float: left;
            width: 50%;

            p {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
            }

            .about-image {
                width: 372px;
                height: 372px;
                object-fit: cover;
                position: relative;
                overflow: hidden;
                border-radius: 50% !important;
                border: 10px solid #f1f1f1;
            }
        }

    }
}