.navbar {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    max-height: 100vh;
    background-color: black;

    .tint {
        z-index: -1;
    }

    .navbar-brand {
        margin: 0;

        #navbar-logo {
            width: 175px;
        }
    }

    .navbar-toggler {
        border-color: transparent !important;

        &:focus {
            outline: none;
        }

        &:hover {
            filter: brightness(1.25);
        }
    }

    #hamburger-menu {
        color: $beige-gold;
    }

    // fullscreen dropdown 
    .navbar-nav {
        height: 100vh;
        font-size: 75%;
        flex: .65;

        .nav-item {
            margin: 0 .5em !important;
            width: 100%;
            font-size: 200%;

            .nav-link {
                color: $beige-gold !important;
                text-transform: uppercase;
                font-weight: 700;
                text-align: center;
                transition: all 0.25s ease-out;

                &:hover {
                    filter: brightness(1.25);
                }
            }

            a {
                margin: 0;
            }
        }

        .nav-icon-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        background-color: transparent;
        font-size: 150%;

        .navbar-nav {
            height: initial;

            .nav-item {
                font-size: 100%;
            }
    
            .nav-icon-row {
                .nav-item {
                    width: 2rem !important;
                }
            }
        }
    }
}
