@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#someText {
    font-family: 'Long Cang', cursive;
}

$raspberry-red: #C8102E;
$beige-gold: #CBAF8A;
$beige: #C9C1B6;
$gold: #D8C777;



$light-gray: #D3D3D3;
$dark-gray: rgb(34, 34, 34);