@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$raspberry-red: rgb(200, 16, 46);
$beige-gold: rgb(203, 175, 138);
$beige: rgb(201, 193, 182);
$gold: gb(216, 199, 119);

$light-gray: rgb(230, 230, 230);
$dark-gray: rgb(34, 34, 34);