@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$raspberry-red: rgb(200, 16, 46);
$beige-gold: rgb(203, 175, 138);
$beige: rgb(201, 193, 182);
$gold: rgb(216, 199, 119);

// used for light backgrounds
$light-gray: rgb(230, 230, 230);

// used for placeholder text
$light-medium-gray: rgb(155, 155, 155);

// used for input text 
$medium-gray: rgb(58, 58, 58);

// used for dark backgrounds, input borders
$dark-gray: rgb(34, 34, 34);